/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* impostare posizionamento relativo ad un elemento */
.relative{
    position: relative;
}

/* impostare posizionamento assoluto ad un elemento */
.absolute{
    position: absolute;
}

/* impostare colore di background rosso ad un elemento */
.bg-red{
    background-color: red;
    

}
/* impostare colore di background verde ad un elemento */
.bg-green{
    background-color: green;


}

/* contenitore principale */
.main-container{
    width: 80%;
    margin: 0 auto;

}

/* singola riga di prodotti */
.row{
    text-align: center;
    margin-top: 10px;
}

/* singolo prodotto */
.card{
    display: inline-block;
    width: 300px;
}

/* immagine del prodotto varie icone all'interno */
.img-container{
    width: 100%;
}

.img-product{
    width: 100%;
}

.favourite-icon-item{
    background-color: white;
    padding: 5px;
    font-size: .8em;
    top: 10px;
    right: 0;
}

.discount-category{
    bottom: 15px;
    left: 0;
}

.tag{
    color: white;
    padding: 3px;
    font-size: .6em;
    font-weight: bold;

}

/* scambio di immagini durante l'hover */
.invisible{
    display: none;
}

.card:hover .invisible{
    display: inline-block;
}

.card:hover .visible{
    display: none;
}

/* nome e prezzo del prodotto */
.name-price-product{
    text-align: left;
}

.brand{
    font-size: .6em;
    color: gray;
}

.name{
    font-size: .7em;
}

.price{
    
    font-size: .6em;
    color: red;

}

.old{
    color: grey;
    text-decoration: line-through;
}

