/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* impostare posizionamento relativo ad un elemento */
.relative{
    position: relative;
}

/* impostare posizionamento assoluto ad un elemento */
.absolute{
    position: absolute;
}

/* contenitore principale */
.main-container{
    width: 80%;
    margin: 0 auto;
    border: 1px solid red;
}

/* singola riga di prodotti */
.row{
    text-align: center;
    margin-top: 10px;
    border: 1px solid red;
}

/* singolo prodotto */
.card{
    display: inline-block;
    width: 250px;
    border: 1px solid red;
}

.img-container{
    width: 100%;
    border: 1px solid red;
}

.img-product{
    width: 100%;
    border: 1px solid red;
}

.favourite-icon-item{
    background-color: white;
    padding: 5px;
    font-size: .8em;
    top: 10px;
    right: 0;
}


/* scambio di immagini durante l'hover */
.invisible{
    display: none;
}

.card:hover .invisible{
    display: inline-block;
}

.card:hover .visible{
    display: none;
}
